{% extends "master.html" %}

{% load static %}
{%block title %}
  Физика тест на ученого
{% endblock %}

{%block content%}
<div class="container-fluid p-3 bg-success text-white text-center">
  <h1>Тест по физике</h1>
  <p>Проверь свои силы</p> 
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static "images/1.jpg" %}" class="img-fluid" alt="Cinque Terre" >
      
    </div>
    <div class="col-sm-8">
      <h3>Реши тест и узнай какой ты физик!</h3>
      <p>Многие люди пытались пройти этот тест и, возможно, именно ты тот избранный :)</p>
      <a href="/quiz" class="btn btn-success">Начать проверку</a>
    </div>
  </div>
</div>
{%endblock%}
