{% extends "master.html" %}

{% load static %}
{%block title %}
  Физика тест на ученого
{% endblock %}

{%block content%}
<div class="container-fluid p-3 bg-success text-white text-center">
  <h1>Тест по физике</h1>
  <p>Проверь свои силы</p> 
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm-7">
      {% comment %} <img src="{% static "images/1.jpg" %}" class="img-fluid" alt="Cinque Terre" > {% endcomment %}
      <img src="https://cs12.pikabu.ru/post_img/big/2022/05/19/7/1652959776115592965.png" class="img-fluid" alt="Cinque Terre" >
    </div>
    <div class="col-sm-5">
      <h3>Реши тест и узнай какой ты физик!</h3>
      <p>Многие люди пытались пройти этот тест и, возможно, именно ты тот избранный :)</p>
      
      <form action="quiz/"  method="POST">
        {% csrf_token %}

        <div class="row was-validate">
          <div class="col-sm-6">
            <input type="text" class="form-control" id="uname" placeholder="Введите свое имя" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-success">Начать проверку</button>
          </div>
        </div>
      </form>
      
    
    </div>
  </div>
</div>
{%endblock%}
